body, p, textarea, div, audio, h1, h5,h6 ul,li{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	border: 0;
}

button{
	color: #FFFFFF;
	background-color: #000000;
	border:1px solid #DCDCDC;
	border-radius: 0.1875rem;
	padding: 10px;
	font-size: 15px;
	font-weight: 600;
}

/* tips */
.tips{
	background-color: #000000;
	color: #DCDCDC;
	width: 100%;
	position: absolute;
	top: 20%;
	z-index: 100;
}
.tips_content{
	border: 2px solid #E5E5E5;
	font-size: 1.25rem;
	border-radius: 0.625rem;
	width: 30%;
	padding: 1.25rem;
	text-align: center;
	margin: 0 auto;
	
}
.tips_content p{
	text-align: left;
	margin-left: 5%;
	margin-bottom: 0.3125rem;
}
#tips_btn {
	width: 60%;
	display: inline-block;
	padding: 5px;
	border: 1px solid #FFFFFF;
	border-radius: 0.1875rem;
	margin: 30px 5px 0;
	text-align: center;
	cursor: pointer;
}

.cut{
	background-color: #000000;
	color: #FFFFFF;
	width: 100%;
	height: 100%;
}

/* 待裁剪的音频 */
.befor_upload{
	background-color: #000000;
	border-bottom: 1px solid #FFFFFF;
	font-size: 1.875rem;
	font-weight: 600;
	width: 100%;
	height: 275px;
	position: absolute;
	top: 0;
	z-index: 10;
}
.upload_audio{
	
}

#upload_audio_tip, #upload_text_tip{
	display: block;
	width: 100%;
	height: 100%;
	/* line-height如果设置了100%那么他是相对于字体大小的，所以会无效
	 275px是祖父级元素的高度*/
	line-height: 275px;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
}

#upload_audio, #upload_text{
	display: block;
	height: 0;
	width: 100%;
}

.audio{
	/* border-bottom: 1px solid #DCDCDC; */
	width: 100%;
	padding-top: 1.25rem;
	padding-bottom: 2.8125rem;
}

/* 裁剪工具 */
.cut_tool {
	max-width: 70%;
	margin: 10px auto 0px;
	overflow: hidden;
}
.zoom{
	float: right;
	margin-right: 1.25rem;
}
.reupload{
	display: inline;
}
.reupload-item{
	display: inline;
	margin-left: 1.25rem;
}


/* 文字和裁剪的音频 */
.cutted_area{
	width: 100%;
	min-height: 61vh;
	position: relative;
	/* overflow-y: scroll; */
}

/* 上传文本框 */
.upload_text{
	/* min-height: 20.25rem; */
	width: 71%;
	margin: 0 auto 10px;
	border: 1px solid #DCDCDC;
	border-radius: 8px;
	position: relative;
/* 	z-index: 10;
	position: absolute;
	top: 0;
	left: 225px; */
	overflow: hidden;
	transition: height,width 1s;
	/* transition: width 1s ; */
	
}
#upload_text_tip{
	/* position: absolute; */
	top: 30px;
	/* left: 0; */
}



.content_list{
	max-width: 70%;
	margin: 0 auto;
	border:1px solid #DCDCDC;
	list-style: none;
	border-radius: 8px;
	padding-inline-start: unset;
	height: 100%;
	padding-bottom: 1.25rem;
}

.content_list_item{
	width: 100%;
	height: 45px;
	border-bottom: 0.0625rem solid #DCDCDC;
	position: relative;
}

/* title */
.title_text{
	display: inline-block;
	width: 50%;
	margin-left: 1.25rem;
	vertical-align: bottom;
	margin-top: 1%;
}
.time{
	display: inline-block;
	width: 15%;
	margin-left: 1.25rem;
	vertical-align: bottom;
	margin-top: 0.8%;
}

.content_list_item_text{
	display: inline-block;
	width: 50%;
	margin-left: 1.25rem;
	vertical-align: bottom;
	margin-top: 4px;
	
}

.play_current_slide_btn{
	display: inline-block;
	position: absolute;
	top: 7px;
	height: 30px;
	width: 10%;
	padding: 5px;
}

ul input{
	background-color: #000000;
	border: 1px;
	color: white;
	height: 60%;
}





/* 完成 */
.export_data{
	width: 50%;
	padding: 1.25rem;
	margin: 0 auto;
}
.export_data a{
	display: block;
	width: 100%;
	height: 3.125rem;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	color: white;
	line-height: 100%;
	text-decoration: none;
}
.export_data a i{
	visibility: hidden;
}
.export_data a p{
	display: block;
	vertical-align: bottom;
	color: white;
	font-size: 1.25rem;
	font-weight: 500;
	text-align: center;
}